# Variables principales
BINANCE_API_KEY=tu_clave
BINANCE_API_SECRET=tu_secreto

TELEGRAM_BOT_TOKEN=token_telegram
TELEGRAM_CHAT_ID=tu_chat_id

# Opcional: claves adicionales por cuenta
#BINANCE_API_KEY_CUENTA1_spot=...
#BINANCE_API_SECRET_CUENTA1_spot=...
